* {
  margin: 0;
}

body {
  margin: 0 auto;
  font-size: 32px;
  font-family: 'League Spartan', sans-serif;
}

.App {
  height: 100vh;
  padding: 8%;
  padding-top: 20%;
}

.App.theme-1 {
  background-color: hsl(222, 26%, 31%);
}

.App.theme-2 {
  background-color: hsl(0, 0%, 90%);
}

.App.theme-3 {
  background-color: hsl(268, 75%, 9%);
}

.title {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.title.theme-1 {
  color:hsl(0, 0%, 100%);
}

.title.theme-2 {
  color: black;
}

.title.theme-3 {
  color: yellow;
}

.title h3 {
  font-size: 24px;
}

.theme {
  font-size: 16px;
  display: flex;
  align-items: center; 
}

.theme h4{
  margin-right: 15px;
}

.theme button {
  width: 80px;
  height: 25px;
  border-radius: 20px;
  border: none
}

.theme.theme-1 button{
  background-color: hsl(223, 31%, 20%);
}

.theme.theme-2 button{
  background-color: hsl(0, 5%, 81%);
}

.theme.theme-3 button{
  background-color: hsl(268, 71%, 12%);
}

.circle {
  width: 25%;
  height: 70%;
  border-radius: 50%;
}

.circle.position-1 {
  transform: translateX(0);
  background-color: hsl(6, 63%, 50%);
}

.circle.position-2 {
  transform: translateX(+150%);
  background-color: hsl(25, 98%, 40%);
}

.circle.position-3 {
  transform: translateX(+300%);
  background-color: hsl(176, 100%, 44%);
}

.result {
  margin-top: 10%;
  border-radius: 8px;
  padding: 5%;
  display: flex;
  justify-content: flex-end; 
}

.result h2{
  padding-top: 1%;
}

.result.theme-1 {
  background-color: hsl(224, 36%, 15%);
  color:white;
}

.result.theme-2 {
  background-color: hsl(0, 0%, 93%);
  color:black;
}

.result.theme-3 {
  background-color: hsl(268, 71%, 12%);
  color:yellow;
}

.buttons {
  margin-top: 8%;
  border-radius: 8px;
  padding: 10px 5% 30px 5%;
  justify-content: center;
  align-items: center;
}

.buttons.theme-1 {
  background-color: hsl(223, 31%, 20%);
}

.buttons.theme-2 {
  background-color: hsl(0, 5%, 81%);
}

.buttons.theme-3 {
  background-color: hsl(268, 71%, 12%);
}

.buttons .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 6%;
}

.buttons button {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  border: none;
  font-size: 95%;
  font-weight: 700;
  font-family: 'League Spartan', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2% ;
}

.buttons.theme-1 button {
  box-shadow: 0px 4px 0px hsl(28, 16%, 65%);
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
}

.buttons.theme-2 button {
  box-shadow: 0px 4px 0px hsl(35, 11%, 61%);
  background-color: hsl(45, 7%, 89%);
  color: black;
}

.buttons.theme-3 button {
  box-shadow: 0px 4px 0px hsl(290, 70%, 36%);
  background-color: hsl(268, 47%, 21%);
  color: yellow;
}

.buttons.theme-1 button:hover {
  background-color: white;
}

.buttons.theme-2 button:hover {
  background-color: white;
}

.buttons.theme-3 button:hover {
  background-color: hsl(285, 91%, 52%);
}

.buttons .row:first-child button:last-child {
  font-size: 75%;
}

/* .buttons .row:last-child {
  justify-content: space-between;
} */

.buttons .row:last-child button {
  width: 47%;
}

.buttons .row:last-child button:first-child {
  font-size: 75%;
}

.buttons.theme-1 .row:first-child button:last-child {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 4px 0px hsl(222, 26%, 31%);
  color: white;
}

.buttons.theme-1 .row:last-child button:first-child {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0px 4px 0px hsl(222, 26%, 31%);
  color: white;
}

.buttons.theme-1 .row:last-child button:last-child {
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 4px 0px hsl(6, 70%, 34%);
  color: white;
}

.buttons.theme-1 .row:first-child button:last-child:hover {
  background-color: hsl(225, 21%, 60%);
}

.buttons.theme-1 .row:last-child button:first-child:hover {
  background-color: hsl(225, 21%, 60%);
}

.buttons.theme-1 .row:last-child button:last-child:hover {
  background-color: hsl(6, 63%, 60%);
}

.buttons.theme-2 .row:first-child button:last-child {
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0px 4px 0px hsl(185, 58%, 25%);
  color: white;
}

.buttons.theme-2 .row:last-child button:first-child {
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0px 4px 0px hsl(185, 58%, 25%);
  color: white;
}

.buttons.theme-2 .row:last-child button:last-child {
  background-color: hsl(25, 98%, 40%);
  box-shadow: 0px 4px 0px hsl(25, 99%, 27%);
  color: white;
}

.buttons.theme-2 .row:first-child button:last-child:hover {
  background-color: hsl(185, 42%, 50%);
}

.buttons.theme-2 .row:last-child button:first-child:hover {
  background-color: hsl(185, 42%, 50%);
}

.buttons.theme-2 .row:last-child button:last-child:hover {
  background-color: hsl(6, 63%, 62%);
}

.buttons.theme-3 .row:first-child button:last-child {
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0px 4px 0px hsl(285, 91%, 52%);
  color: white;
}

.buttons.theme-3 .row:last-child button:first-child {
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0px 4px 0px hsl(285, 91%, 52%);
  color: white;
}

.buttons.theme-3 .row:last-child button:last-child {
  background-color: hsl(176, 100%, 44%);
  box-shadow: 0px 4px 0px hsl(177, 92%, 70%);
  color: black;
}

.buttons.theme-3 .row:first-child button:last-child:hover {
  background-color: hsl(285, 91%, 52%);
}

.buttons.theme-3 .row:last-child button:first-child:hover {
  background-color: hsl(285, 91%, 52%);
}

.buttons.theme-3 .row:last-child button:last-child:hover {
  background-color: hsl(177, 92%, 70%);
}

@media (min-width: 560px) {

  .App {
    padding: 0px;
    padding-top: 100px;
  }

  .content {
    width: 500px;
    margin: 0 auto;
  }

  .buttons button {
    width: 90px;
  }

}